@import '../../styles.scss';

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: $dark-gray;
    color: $light-gray;
    display: block;
    align-content: space-around;

    & > * {
        margin-bottom: 10px; /* Espaço entre os elementos */
    }

    & > *:last-child {
        margin-bottom: 0; /* Remove a margem do último elemento */
    }
}