// Primary Colors
$black: #000000;
$hot-pink: #a71d62;

// Complementary Colors
$dark-gray: #333333;
$light-gray: #cccccc;
$white: #ffffff;


* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Motiva Sans', sans-serif;
    text-align: center;
    text-decoration: none;
    color: inherit;
}